.labpage{
  width: 100%;
  //detail
  .labname{
    color: #fff;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
    h1{
      color: #fff;
      text-shadow: 1px 2px 3px rgba(0,0,0,0.5);
      font-weight: 700;
      letter-spacing: 2px;
    }
  }
  .labintor{
    width: 100%;
    padding: 0 10px;
    padding-bottom: 20px;
    margin-bottom: 30px;
      // border-bottom: 1px dashed #fff;
    h2{
      color: #fff;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    span{
      color: #fff;
      font-size: 20px;
    }
  }
  .labdetail{
    .icon{
      width: 25px;
      height: 25px;
      margin-right: 10px;
      line-height: 30px;
      vertical-align: middle;
    }
    .font{
      color: #fff;
      line-height: 30px;
      vertical-align: middle;
      font-weight: 600;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
  }
}