.labpage{
  width: 100%;
  .labintor{
    width: 100%;
    padding: 0 10px;
    padding-bottom: 20px;
      border-bottom: 1px dashed #fff;
    h2{
      color: #fff;
      font-weight: 700;
      text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    span{
      color: #fff;
      font-size: 20px;
    }
  }
}