

.home_head{
  text-align: center;
  background: radial-gradient(ellipse at 69% 50%, #1d1d2d 15%,#0f0e12 70%);
  color: white;
  *{
  transition: 1s;
}
}

.home_head h1{
  max-width: 1000px;  
  padding: 150px 50px 0 50px;
  margin: 0 auto 75px auto;
  font-weight: 400px;
  font-size: 60px;
  line-height: 22px;
  letter-spacing: 6px;
  *{
  transition: 1s;
}
}

.home_head h2{
  max-width: 900px;
  text-align: left;
  margin: 90px auto 130px auto;
  font-weight: normal;
  *{
  transition: 1s;
}
}

.home_head .btn{
  padding: 14px 40px;
  font-size: 24px;
  font-weight:700;
  color: white;
  letter-spacing: 2px;
  background: #f74f4f;
  box-shadow: none;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  border-color: #c02f2f;
  text-decoration: none;
  *{
  transition: 1s;
}
}

.home_head .btn:hover{
  background: #d92424;
}

.home_head .btn:focus{
  outline: none;
}

.home_head p{
  font-size: 20px;
  margin: 70px auto 30px auto;
}

.home_head i{
  padding-bottom: 40px;
}

.st0{
  fill: #0f0e12;
}


