.news{
  width: 60%;
  margin: 180px auto;
}

.news h1{
  color: #3e4449;
}

.news .list{
  border-width: 3px 0 0 0;
  border-style: solid;
  border-color: #585454;
  width: 100%;
  line-height: 26px;
  letter-spacing: 1px;
}

.news h2{
  color: #3e4449;
  padding: 7px;
  width: 100%;
}

.news p{
  color: #3e4449;
  font-size: 20px;
  width: 100%;
}

.news .more{
  color: #2a80c8;
  font-weight: bold;
  font-size: 20px;
}

