.mail_scroll_item{
  width: 100%;
  margin-bottom: 10px;
  padding: 4px 5px;
  background: transparent;
  transition: 200ms linear;
  border-radius: 3px;
  cursor: pointer;
  &:nth-child(2n+1){
    background: rgba(0,0,0,0.1);
  }
  &:hover{
    background: rgba(255,255,255,0.1);
  }
  .mail_item_from{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
    color: #fff;
    padding: 5px;
  }
  .mail_item_time{
    font-size: 0.9em;
    line-height: 1em;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);    
    padding: 5px;
  }
  .mail_item_to{
    @extend .mail_item_from;
  }
  .mail_item_intor{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 1em;
    padding: 5px;
    color: #fff;
    max-height: 70px;
    overflow: hidden;
  }
}
