.good_info {
  width: 100%;
  float: left;
  padding: 10px 25px;
  margin-bottom: 10px;

  .good_info_head {
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    padding: 10px 15px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);

    .good_info_img {
      width: 20%;
      float: left;
      padding: 10px;

      img {
        width: 100%;
        min-width: 250px;
        min-height: 250px;
        border: 3px solid rgba(255, 255, 255, 0.8);
        border-radius: 4px;
      }
    }

    .good_info_con {
      width: 80%;
      float: right;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;

      h2 {
        margin: 0;
        padding: 10px 0 0 0;
      }

      .info_con {
        display: block;
        font-size: 15px;
        line-height: 28px;
        padding: 10px 0;
      }
    }
  }
}

.good_foot {
  width: 100%;
  padding: 0 25px;
  margin-top: 30px;
  float: left;
  margin-bottom: 20px;
  .set {
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    cursor: pointer;
    transition: background 200ms linear;
    font-weight: 600;
    &:hover {
      background: rgba(0, 0, 0, 0.5);
    }
  }
}

.good_active{
  width: 100%;
  padding: 0 25px;
  float: left;
  .good_borrow{
    width: 100%;
    float: left;
    background: rgba(0, 0, 0, 0.3);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    padding: 15px;
    min-height: 400px;
    .contanct{  
      width: 100%;
      float: left;
      color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      h2{
        margin: 0;
        padding: 0 0 20px 0;
        border-bottom: 1px solid #fff;
        letter-spacing: 1px;
      }
    }
    .contanct_con{
      padding: 15px 0; 
      font-size: 15px;
    }
  }
}