*{
  transition: 0.5s;
}
.News {
  background: radial-gradient(ellipse at 69% 50%, #1d1d2d 20%,#0f0e12 75%);
  width: 100%;
  padding-top: 200px;
  padding-bottom: 150px;
  

  .List {
    width: 70%;
    padding: 7px;
    background: white;
    border-radius: 3px;
    color: gray;
    margin: 15px auto;
    max-height: 123px;

    a {
      text-decoration: none;
      color: #215ed0;
      font-weight: 700;
      padding-top: 2px;
      letter-spacing: 1px;
      font-size: 19px;
    }

    a:hover {
      text-decoration: underline;
      color: #ff6c00;
    }

    .content {
      height: 36px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 20px;
    }
    .content2 {
      white-space: normal;
      font-size: 20px;
      padding: 30px;
    }

    .show_all {
      transition: 0.5s;
    }

    .show_all:hover {
      cursor: pointer;
      i{
        animation: jump 1s linear infinite;
      }
      @keyframes jump {
         25% {transform: translateY(5px);}
         50%, 100% {transform: translateY(0);}
         75% {transform: translateY(-5px);}
        }
    }
  }
}

