.envir {
  // background: linear-gradient(40deg,#fff ,#d3e3e8 );
  background: #e5e8ed;
  .title{
    margin: 0 auto;
    text-align: center;
    color: #171e27;
    font-size: 40px;
    padding-top: 100px;
    letter-spacing: 5px;
    padding-bottom: 10px;
    width: 40%;
    border-bottom: 2px solid #bfbfbf;
  }
  .photo {
    text-align: center;
    height: 350px;
    margin-top: 200px;
    margin-bottom: 200px;
    img {
      width: 90%;
      height: 100%;
      margin: 0 auto;
      border-radius: 7px;
      // border-bottom: 3px solid #63768d;
      // border-right: 3px solid #63768d;
      // border-bottom: 3px solid #fff;
      // border-right: 4px solid #fff;
    }
    &:hover{
      
    }
  }
}