$bg_base: #232c3b;
$bg_second: #171e27;
$font_color: #171e27;

.labhead {
  background-color: $bg_second;
  text-align: center;
  padding-top: 200px;

  .title {
    letter-spacing: 4px;
    font-size: 57px;
    color: white;
  }

  .position {
    color: white;
    margin-top: 50px;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 23px;
  }

  .isopen {
    color: gray;
    margin-top: 30px;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 100px;
  }
  p{
    margin: 0;
  }
}

.labintr {
  background: $bg_base;
  text-decoration: none;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  h2{
    margin: 0 auto;
    width: 50%;
    padding: 40px;
    color: gray;
    text-align: center;
  }
  img{
  //  margin-left: 500px;
  }
}

.labitem{
  background: $bg_second;
  padding-top: 100px;
  h2{
    margin: 0;
  }
  .imain{
    background: white;
    width: 400px;
    height: 400px;
    border-radius: 2px;
    color :$font_color;
    padding: 8px;
    margin-bottom: 20px;
    &:hover{
      background: #dfe1e5;
    }
    // margin-left: auto;
    // margin-right: auto;
    .intr{
      font-weight: bold;
      letter-spacing: 1px;
    }
    .start{
      margin-left: 300px;
    }
    .leader{
      margin-left: 300px;
    }
    img{
      width: 150px;
      height: 150px;
      margin-left: 125px;
    }
  }
  .i{
    background: white;
    border-radius: 2px;
    
    // width: 700px;
    div{
      &:hover{
      background: #dfe1e5;
    }
    }
    .leader{
      padding: 0 8px;
      margin-bottom: 0;
      padding-bottom: 5px;
      // border-bottom: 1px solid lightgray;
    }
    .Name{
      padding:  8px;  
      border-top: 1px solid lightgray;
    }
    .intr{
      padding: 0 8px;
    }
    .start{
      padding: 0 8px;
    }
  }
}

.bg-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 735px;
  z-index: 1;
  padding-left: 0;
  margin: 0;
}

.bg-bubbles li {
  position: absolute;
  list-style: none;
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.15);
  bottom:-200px;
  -webkit-animation: square 25s infinite;
  animation: square 26s infinite;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
}

.bg-bubbles li:nth-child(1) {
  left: 10%;
}

.bg-bubbles li:nth-child(2) {
  left: 20%;
  width: 80px;
  height: 80px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 17s;
  animation-duration: 17s;
}

.bg-bubbles li:nth-child(3) {
  left: 25%;
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

.bg-bubbles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  -webkit-animation-duration: 22s;
  animation-duration: 22s;
  background-color: rgba(255, 255, 255, 0.25);
}

.bg-bubbles li:nth-child(5) {
  left: 70%;
}

.bg-bubbles li:nth-child(6) {
  left: 80%;
  width: 120px;
  height: 120px;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  background-color: rgba(255, 255, 255, 0.2);
}

.bg-bubbles li:nth-child(7) {
  left: 32%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 7s;
  animation-delay: 7s;
}

.bg-bubbles li:nth-child(8) {
  left: 55%;
  width: 20px;
  height: 20px;
  -webkit-animation-delay: 15s;
  animation-delay: 15s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
}

.bg-bubbles li:nth-child(9) {
  left: 25%;
  width: 10px;
  height: 10px;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-duration: 40s;
  animation-duration: 40s;
  background-color: rgba(255, 255, 255, 0.3);
}

.bg-bubbles li:nth-child(10) {
  left: 90%;
  width: 160px;
  height: 160px;
  -webkit-animation-delay: 11s;
  animation-delay: 11s;
}

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
    transform: translateY(-1500px) rotate(600deg);
  }
}

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
    transform: translateY(-1500px) rotate(600deg);
  }
}