.Pinfo {
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  background: url('./bg_num1.jpg') left top repeat-x #082648;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;

  .con {
    position: relative;
    top: 80px;
    left: 0;
    color: #fff;

    .lef {
      //  width: 95%;
      padding: 0 10px;
      margin: 0 auto;

      .sidebar {
        min-width: 250px;
        border-radius: 3px;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
        background: rgba(0, 0, 0, 0.2);

        .touxiang {
          padding: 10px;
          text-align: center;
          background: url('./blight_rtl.png');
          background-position: right top;
          background-repeat: no-repeat;

          .img {
            width: 100px;
            height: 100px;
            margin: 0 auto;
            border-radius: 50%;
            border: 4px solid #6c92a7;
          }
        }

        .select {
          height: 40px;
          font-size: 15px;
          line-height: 17px;
          border-bottom: #444 1px solid;
          padding-top: 20px;
          padding-left: 15px;
          transition: 0.4s;

          &:hover {
            background: rgba(0, 0, 0, 0.15);
          }

          span {
            letter-spacing: 1px;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          }

          .i {
            float: right;
            margin-right: 20px;
            font-size: 15px;
          }
        }
      }
    }
    //Basic
    .basic {
      border-radius: 3px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.3);
      background: rgba(0, 0, 0, 0.2);
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      width: 85%;
      .tit{
        padding-left: 15px;
        padding-top: 20px;
        background: url('./blight_ltr.png');
        background-repeat: no-repeat;
        background-position: left top;
        background-color: #133959 !important;
        height: 50px;
        h1{
          margin: 0;
          letter-spacing: 3px;
        }
        .i{
          font-size: 20px;
          line-height: 0px;
        }
      }
      .content{
        color: #d0c8c8;
        padding-top: 20px;
        padding-left: 15px;
        font-size: 18px;
        padding-bottom: 30px;
        .box{
          width: 80%;
          margin: 25px auto;
          .what{
            letter-spacing: 1px;
          }
          .con1{
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}

