.chargeside {
  width: 100%;
  padding: 20px 15px;
  .choise_list {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    background: rgba(12, 81, 109, 0.8);
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
    .choise_item {
      width: 100%;
      padding: 5px 10px;
      height: 55px;
      border-radius: 3px;
      transition: 250ms linear;
      display: block;
      cursor: pointer;
      &:hover {
        background: rgba(83, 167, 222, 0.59);
      }
      .choise_box {
        width: 100%;
        line-height: 30px;
        vertical-align: middle;
        font-size: 17px;
        color: white;
        font-weight: 600;
        img {
          height: 22px;
          vertical-align: middle;
        }
        span {
          line-height: 30px;
          vertical-align: middle;
        }
      }
    }
  }
}

//基本信息
.detail {
  width: 100%;
  background: rgba(12, 81, 109, 0.8);
  border-radius: 3px;
  padding: 15px 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  .head_detail {
    width: 100%;
    padding: 10px 10px;
    border-bottom: 2px dashed white;
    h2 {
      padding: 0;
      margin: 0;
      color: white;
      font-weight: 600;
      letter-spacing: 2px;
      font-size: 25px;
    }
  }
  .detail_con {
    padding: 15px 10px;
    width: 100%;
    .upload {
      width: 100%;
      padding: 10px;
      padding-bottom: 20px;
      border-bottom: 2px dashed white;
      h2{
        color: white;
        padding: 10px 0;
        letter-spacing: 1px;
      }
      .show_img {
        width: 100%;
        border-radius: 3px;
        .img {
          width: 100%;
          min-width: 100%;
          border: 2px solid white;
          height: 350px;
          min-height: 350px;
          border-radius: 3px;
        }
      }
      .change_img {
        width: 100%;
        padding: 10px 0px;
        .change_show {
          width: 100%;
          padding: 10px;          
          border: 1px solid white;
          background: transparent;
          border-radius: 3px;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          color: #fff;
          font-size: 15px;
          &:focus {
            outline: none;
          }
        }
        .change_but{
          width: 100%;
          padding: 5px 10px;
          border-radius: 3px;
          border-bottom-left-radius: 0;
          border-top-left-radius: 0;
          border: 1px solid white;
          cursor: pointer;
          transition: 250ms linear;
              &:hover{
                background: rgba(83, 167, 222, 0.59);
              }
          span{
            width: 100%;
            color: white;
            text-align: center;
            letter-spacing: 1px;
            line-height: 28px;
            font-size: 16px;
            
          }
        }
      }
      .detail_info{
        width: 100%;
        padding: 25px 10px 0px 10px;
        .detail_box{
          width: 100%;
          padding: 20px;
          // border-bottom: 1px solid white;
          .det_box_in{
            width: 100%;
            line-height: 30px;
            span{
              color: #fff;
              font-size: 16px;
              font-weight: 500;
              letter-spacing: 1px;
              vertical-align: middle;
              input{
                border: 1px solid white;
                background: transparent;
                color: white;
                padding: 10px;
                border-radius: 4px;
                width: 80%;
                font-size: 14px;
                &:focus{
                  outline: none;
                }
              }
            }
            .show_but{
              width: 80%;
              padding: 5px;
              text-align: center;
              border-radius: 4px;
              border: 1px solid white;
              color: white;
              letter-spacing: 1px;
              font-size: 15px;
              cursor: pointer;
              transition: 250ms linear;
              &:hover{
                background: rgba(83, 167, 222, 0.59);
              }
            }
          }
        }
      }
    }

    .edit_detail{
      width: 100%;
      padding: 10px;
      h2{
        padding: 10px 0;
        color: white;
        font-size: 20px;
        letter-spacing: 1px;
      }
      textarea{
        width: 100%;
        padding: 10px;
        border-radius: 4px;
        background: transparent;
        color: white;
        font-size: 15px;
        border: 1px solid white;
        max-width: 100%;
        min-width: 100%;
        &:focus{
          outline: none;
        }
      }
    }
    
    .detail_foot{
      padding: 10px 10px 0px 10px;
      width: 100%;
      .foot_but{
        display: block;
        padding: 10px 10px;
        width: 100%;
        border: 1px solid white;
        border-radius: 4px;
        line-height: 30px;
        // vertical-align: middle;
        font-size: 17px;
        color: white;
        text-align: center;
        transition: 200ms linear;
        cursor: pointer;
        font-weight: 600;
        &:hover{
          background: rgba(83, 167, 222, 0.59);

        }
      }
    }
  }
}

