.body{
  padding-left: 10px;
  padding-right: 10px;
  background: url('./bg_num1.jpg') left top repeat-x #082648;
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 1500px;
}

.body2{
  padding-left: 10px;
  padding-right: 10px;
  background: url('./wallhaven-34614.jpg') no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  min-height: 100%;
  min-width: 1500px;
}
