.tea_head{
  width: 100%;
  .tea_pic{
    width: 100%;
  }
  span{
    width: 50%;
    display: block;
    padding: 10px 0;
    font-size: 17px;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0,0,0,0.5);
    letter-spacing: 1px; 
    border-bottom: 1px solid #c8d2d4;
    
  }
}

.title{
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}

.intr{
  padding: 10px;
  font-size: 15px;
  color: white;
}

.honor{
  @extend .intr;
}

.ant-collapse-borderless>.ant-collapse-item>.ant-collapse-header:hover{
  background: rgba(0,0,0,0.45);
}

.ant-collapse>.ant-collapse-item:not(.ant-collapse-item-disabled)>.ant-collapse-header:active{
  background: rgba(0,0,0,0.45);
}